*{
	padding:0px;
	margin:0px;

}
ol,ul,li{
	list-style-type:none;
}
a{
	text-decoration:none;
	color:black;
}
.head{
	width: 1200px;
	line-height:30px;
	padding-left:180px;
	padding-right:180px;
	margin: 0 auto;
	font-size:13px;

}
.left li{
	display:inline-block;
	float:left;
	overflow:hidden;
}
.right li{
	display:inline-block;
	float:right;
}
.middle{
	height: 123px;
	margin:0px 180px 0px 180px;
	float:left;

}
.middle li{
	display:inline-block;
	float:left;
}
.input
{
	border:1px solid #f83838;
	margin:40px 0px 40px 200px;
	width: 406px;
	height: 40px;
	color:#c1c1c1;

}
.submit{
	width: 95px;
	height: 42px;
	background-color: #f83838;
	color:white;
	border:0px;
}
.shopcar{
	margin:40px 0px 40px 160px;
	border:1px solid #e3e3e3;
	background-color:#f5f5f5;
	height: 16px;
	padding:15px 25px 15px 25px;
	float:right;
}
.car{
	width: 17px;
	height: 18px;
	background-color:red;
	float:left;
}
.daohang{
	height: 40px;
	padding-left:180px;
	padding-right:180px;
	float:left;
}
.daohang li{
	width: 60px;
	height: 40px;
	line-height:40px;
	display:inline-block;
	float:left;
	margin:0px 10px 0px 10px;
	padding:0px 20px 0px 20px;

}
.daohang li:hover{
	background-color: #fd0304;
	border-radius:7px;
}
.daohang a:hover{
	color:white;
}
.fg{
	background-color:#e00304;
	height: 3px;
	margin:5px 0px 0px 0px;
}
.body
{
	background-color: #fbfbfb;
	height: 650px;
	padding:25px 180px 20px 180px;
}
.body-h{
	height: 65px;
}
.body-h1
{
	height: 18px;
	width: 162px;
	background-color:#fff;
	padding:12px 25px 12px 25px;
	margin-right:12px;
	float:left;
}
.body-h2{
	height: 532px;
	width: 210px;
	background-color: #fff;
	margin:12px 12px 22px 0px;
	float:left;
}
.body-h2 li{
	padding:11px 0px 11px 73px;
	font-size:13px;
	height: 11px;

}
.body-h2 li a:hover{
	color:#fd0304;
}
.body-h3{
	width: 995px;
	height: 585px;
	background-color: #fff;
	float:right;
}
.body-h3 li{
	margin:18px 0px 0px 18px;
	width: 222px;
	height: 252px;
	border:1px solid #dbdbdb;
	float:left;
}
.body-h3 p{
	color:#a3a3a3;
	text-align:center;
}
.body-h3 div{
	text-align:center;
	margin-top:10px;
}
.bottom{
	padding:0px 180px 0px 230px;
	height: 270px;
	width:1220px;
	float:left;
	text-align:left;
	margin:0 auto;
}
.bottom1{
	padding:20px 192px 0px 10px;
	float:left;
}
.bottom1 li{
	color:white;
	font-size:14px;
	padding-bottom: 17px;
}
.bottom ul li:first-child{
	margin-left:0px;
	font-size:17px;
	padding-bottom: 20px
}
.bottom a{
	color:white;
}
.bottomb{
	text-align:center;
	float:left;
	padding-left:314px;
	margin:0 auto;
}
.bottomb li{
	padding-top:26px;
	text-align: center;
	display:inline-block;

}
.bottomb a{
	color:#989898;
	font-size:14px;
}
.bottomb p{
	color:#989898;
	font-size:14px;
}
